@page
@model bookstore.Pages.Autors.IndexModel
@{
    ViewData["Title"] = "Autors";
}

<div class="header">
    <h1 class="title">Autors</h1>
</div>
<div class="container-autors">
    <table>
        <thead>
            <tr>
                <td>
                    <h4>Id</h4>
                </td>
                <td>
                    <h4>FirstName</h4>
                </td>
                <td>
                    <h4>LastName</h4>
                </td>
                <td>
                    <h4>Biography</h4>
                </td>
                <td>
                    <h4>CreatedAt</h4>
                </td>
                <td>
                    <h4>UpdatedAt</h4>
                </td>
                <td>
                    <h4>Delete</h4>
                </td>
@*                 <td>
                    <h4>Update</h4>
                </td> *@
            </tr>
        </thead>
        <tbody>
            @if (Model.Autors != null)
            {
                @foreach (var autor in Model.Autors)
                {
                    <tr>
                        <td>@autor.Id</td>
                        <td>@autor.FirstName</td>
                        <td>@autor.LastName</td>
                        <td>@autor.Biography</td>
                        <td>@autor.CreatedAt</td>
                        <td>@autor.UpdatedAt</td>
                        <td>
                            <form method="post" asp-page-handler="DeleteAutor">
                                <button type="submit" class="btn-delete"  asp-route-id="@autor.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
@*                         <td>
                            <button class="btn-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M5 19h1.425L16.2 9.225L14.775 7.8L5 17.575zm-1 2q-.425 0-.712-.288T3 20v-2.425q0-.4.15-.763t.425-.637L16.2 3.575q.3-.275.663-.425t.762-.15t.775.15t.65.45L20.425 5q.3.275.437.65T21 6.4q0 .4-.138.763t-.437.662l-12.6 12.6q-.275.275-.638.425t-.762.15zM19 6.4L17.6 5zm-3.525 2.125l-.7-.725L16.2 9.225z" />
                                </svg>
                            </button>
                        </td> *@
                    </tr>
                }
            }

        </tbody>
    </table>

    <div class="forms">

        <form method="post" class="form-crud" asp-page-handler="Add">
            <h2>Add Autor</h2>

            <label asp-for="Autor.FirstName">FirstName</label>
            <input type="text" asp-for="Autor.FirstName" class="form-input" required />

            <label asp-for="Autor.LastName">LastName</label>
            <input type="text" asp-for="Autor.LastName" class="form-input" required />

            <label asp-for="Autor.Biography">Biography</label>
            <input type="text" asp-for="Autor.Biography" class="form-input" />
            <input type="submit" class="btn-add" value="Add" />
        </form>

        <form method="post" class="form-crud" asp-page-handler="UpdateAutor">
            <h2>Update Autor</h2>
            <label asp-for="Autor.Id">Id</label>
            <input type="number" asp-for="Autor.Id" class="form-input" required />

            <label asp-for="Autor.FirstName">FirstName</label>
            <input type="text" asp-for="Autor.FirstName" class="form-input" required />

            <label asp-for="Autor.LastName">LastName</label>
            <input type="text" asp-for="Autor.LastName" class="form-input" required />

            <label asp-for="Autor.Biography">Biography</label>
            <input type="text" asp-for="Autor.Biography" class="form-input" />
            <input type="submit" class="btn-add" value="Update" />
        </form>

    </div>

</div>